.hero-content {
  text-align: center;
}

.hero-title {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 800;
}

.hero-text {
  line-height: 1.5;
  margin-top: 1em;
}

.hero-link {
  display: inline-block;
  color: var(--clr-secondary);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1em;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.card {
  width: 200px;
  height: 140px;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  color: #fff;
  border: 5px solid rgba(255, 255, 255, 0.2767);
  border-radius: 12px;
  box-shadow: 0px 8px 25px #4056d4;
}

.card-info {
  font-size: 1.6rem;
  font-weight: 800;
  margin-top: 0.8em;
}

.card-title {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 800;
  margin-top: 0.3em;
}

.card-danger {
  background-color: var(--clr-danger);
}

.card-warning {
  background-color: var(--clr-warning);
}

.card-success {
  background-color: var(--clr-success);
}

.card-neutral {
  background-color: var(--clr-neutral);
}

@media (min-width: 48em) {
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0.5em;
  }

  .hero-title {
    font-size: 2.2rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }

  .stats {
    flex-direction: row;
  }

  .stats-col {
    width: 50%;
  }

  .card {
    margin-left: 1em;
  }
}

@media (min-width: 60em) {
  .hero .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hero-content {
    text-align: left;
    width: 50%;
  }

  .hero-title {
    font-size: 2.6rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }

  .stats {
    width: 50%;
    justify-content: flex-end;
    padding: 0;
  }

  .stats-col {
    width: auto;
  }
}
