@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

:root {
  --clr-primary: #fffefe;
  --clr-secondary: #fbb03b;
  --clr-accent: #fece00;
  --bg-primary: #5268e7;
  --bg-secondary: #3e54d2;
  --clr-success: #1cb142;
  --clr-warning: #fbb03b;
  --clr-danger: #f42850;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  color: var(--clr-primary);
  background-color: var(--bg-primary);
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 1em 0.5em;
}

@media (min-width: 50em) {
  .container {
    width: 80%;
  }
}

@media (min-width: 90em) {
  .container {
    width: 70%;
  }
}
